html, .header, .footer, .navigation, .sidebar, .content{
	font: 14px/1.4 Helvetica,arial,sans-serif !important;
}

section,nav,aside{
	float: left;
}

section{
  width: 50%;
}

nav,aside{
	width: 25%;
}

nav{
	background: #87C540;
}

aside{
  background: blue;
}

header{
	background: #ccc;
}

footer{
	clear: both;
	background: red;
}

header,footer{
	text-align: center;
}

.header{
	font-size: 46px;
}

.footer,.sidebar{
	font-size: 10px;
}

.content{
	font-size: 14px;
}

.navigation{
	font-size: 12px;
}


[class$="r"]{
  background: #FF00FE;
}

[class*="a"]:not([class$="r"]){
  background: blue;
}

.oh-no-inline-styles{
	background: green !important;
}

